target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.factorypath
.apt_generated
.springBeans
.sts4-cache
.vscode/

.DS_Store
*.log
*.swp
*~
